<%-include('./../header.ejs')%>
  <%-include('./../sidebar.ejs')%>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="background-color: rgb(243, 192, 25);">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">Dashboard</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Starter Page</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <div class="content" >
        <div class="container-fluid">
          <div class="card">
            <div class="card-header">
             
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example1" class="table table-bordered table-striped" >
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Course</th>
                    <th>Status</th>
                    <th>Comment</th>
                    <th></th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% d.forEach((item,index)=>{%>
                    <tr>
                      <td>
                        <%= index+1 %>
                      </td>
                      <td>
                        <%= item.name %>
                      </td>
                      <td>
                        <%= item.email %>
                      </td>
                      <td>
                        <%= item.course %>
                      </td>
                      <td>
                        <%= item.status %>
                      </td>
                      <td>
                        <%= item.Comment%>
                      </td>
                      <td>
                        <form action="/Admin/statusUpdate/<%= item._id%>" method="post">
                          <input type="hidden" name="name" value=" <%= item.name %>">
                           <input type="hidden" name="email" value=" <%= item.email %>">
                          <textarea name="Comment" class="form-control mb-2"></textarea>
                          <button name="status" value="Approved" class="btn btn-info">Approved</button>
                          <button name="status" value="Rejected" class="btn btn-danger">Rejected</button>
                        </form>
                      </td>
                      <td>
                        <a href="/Admin/courseView/<%= item._id%>" class="btn btn-info">View</a>
                        <!-- <a href="/Admin/courseEdit/<%= item._id%>" class="btn btn-success">Edit</a> -->
                        <a href="/Admin/coursedelete/<%= item._id%>" class="btn btn-danger">Delete</a>
                      </td>
                    </tr>
                    <% })%>
                </tbody>
                <tfoot>
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Name</th>
                      <th>Email</th>
                     <th>Course</th>
                    <th>Status</th>
                    <th>Comment</th>
                    <th></th>
                      <th>Action</th>
                    </tr>
                  </thead>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


<%-include('./../footer.ejs')%>