<%-include('../layouts/header.ejs')%>
<div class="content-wrapper"  style="height: 300px; margin-top: 6%; ">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2 ">
          <div class="col-sm-6 ">
            <h1 class="m-0">Register Students
            </h1>
          </div><!-- /.col -->
                </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content mt-5">
      <div class="container-fluid">
        <div class="card">
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Sr No.</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Course</th>
                  <th>Status</th>
                  <th>Comment</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% d.forEach((item,index)=>{%>
                  <tr>
                    <td>
                      <%= index+1 %>
                    </td>
                    <td>
                      <%= item.name %>
                    </td>
                    <td>
                      <%= item.email %>
                    </td>
                    <td>
                      <%= item.phone %>
                    </td> 
                      <td><%= item.course%></td> 
                        <td>
                      <%= item.status %>
                    </td> 
                      <td>
                      <%= item.Comment%>
                    </td>    
                    <td>
                      <a href="/course/View/<%=item._id%>" class="btn btn-info">View</a>
                      <a href="/course/Edit/<%=item._id%>"  class="btn btn-success">Edit</a>
                      <!-- <a href="/course/Delete/<%=item._id%>" class="btn btn-danger">Delete</a> -->
                    </td>
                  </tr>
                  <% }) %>
              </tbody>
              <tfoot>
                <thead>
                  <tr>
                    <th>Sr No.</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                      <th>Course</th>
                      <th>Status</th>
                  <th>Comment</th>
                    <th>Action</th>
                  </tr>
                </thead>
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

<%-include('../layouts/footer.ejs')%>